.hero-section {
  background: rgba(0, 0, 0, 0.31)
    url("../assets/img/article-image-hero-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5.4em 1.25em 1.6em;
  color: #ffffff;
  margin-bottom: 2.21em !important;
}

.article-title-hero {
  font-size: 2rem;
  padding: 0.25em 0;
  letter-spacing: -3%;
  font-weight: 700;
}

.article-date-hero {
  font-size: 0.75rem;
}

.article-preview {
  display: inline-block;
  font-size: 1rem;
  text-align: justify;
}

.home-article {
  padding: 0 1.25em;
}

.load-more-article {
  display: none;
}

.load-more {
  display: block;
}

#viewMore-btn {
  display: block;
  font-family: inherit;
  font-size: 1rem;
  color: #000000;
  font-weight: 700;
  padding: 0.3em 0;
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 2.56em;
}

/* media query */
@media (min-width: 768px) {
  .hero-section {
    background: rgba(0, 0, 0, 0.31)
      url("../assets/img/blog-image-hero-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 17.94em 23.44em 3.75em 3.31em;
    margin-bottom: 3.31em !important;
  }

  .article-title-hero {
    font-size: 2.5rem;
  }

  .article-date-hero {
    font-size: 1rem;
  }

  #viewMore-btn {
    grid-column: span 3;
  }
}
